@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-dark-text font-sans antialiased;
  }
}

.glass-card {
  @apply bg-dark-card/80 backdrop-blur-md border border-slate-700 shadow-xl rounded-2xl;
}

/* Toggle Switch Styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #22c55e;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #22c55e;
}
